<ul>
	<li><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">Home</a><span>/</span></li>
	<li><a href="{{ '/code' | prepend: site.baseurl | prepend: site.url }}">Code</a><span>/</span></li>
	<li><a href="{{ '/coffee' | prepend: site.baseurl | prepend: site.url }}">Coffee</a><span>/</span></li>
	<li><a href="{{ '/me' | prepend: site.baseurl | prepend: site.url }}">Me</a><span>/</span></li>
	<li><a href="{{ '/contact' | prepend: site.baseurl | prepend: site.url }}">Contact</a><span>/</span></li> 
</ul>